@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}



body {
  color: rgb(var(--foreground-rgb)); /* Text color */
  background-color: white;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
